.about {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 200px 0px 0px 0px;
	.about-item {
		&__text {
			font-family: 'Syne';
			font-style: normal;
			font-weight: 700;
			font-size: 59px;
			line-height: 115%;
			color: #fff3f3;
			max-width: 523px;
		}

		&__text--special {
			margin: 20px 0px 0px 0px;
			width: 473px;
			font-family: 'Syne';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 115%;
			color: #ffffff;
		}

		&__btn {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 20px;
			width: 377px;
			height: 63px;
			background: linear-gradient(
				90deg,
				rgba(98, 21, 16, 0.5) 55.55%,
				rgba(38, 21, 20, 0) 88.05%
			);
			border-radius: 10px;
			border: none;
			margin: 40px 0px 0px 0px;

			&:hover {
				cursor: pointer;
			}

			p {
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 31px;
				color: #fcfcfc;
				margin-left: 57px;
			}
		}
	}

	&-sniker {
		position: absolute;
		right: -135px;
		top: -180px;

		&__item {
			position: absolute;
			top: 20px;
			left: -10px;

			img {
				width: 770px;
			}
		}
	}
}
